<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.dao.provider.ProviderDao">
    <!--    查询订单信息列表-->
    <select id="listProviderForSelect" resultType="com.buba.pojo.Provider">
        select id,proName from smbms_provider
    </select>
</mapper>